/*Place style*/

.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 50px;
}

h1 {
    margin-left: 20px;
    font-size: 30px;
    width: 100%;
}

article {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    position: relative;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    height: fit-content;
}

article h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.title {
    width: 100%;
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}

.title h2 {
    text-align: start;
    margin-left: 10px;
    margin-right: 10px;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 5px;
    margin-left: auto;
    margin-bottom: 20px;
}

.information {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.max_guest {
    background-image: url("../images/icon_group.png");
}

.number_rooms {
    background-image: url("../images/icon_bed.png");
}

.number_bathrooms {
    background-image: url("../images/icon_bath.png");
}

.max_guest, .number_bathrooms, .number_rooms {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100px;
    margin-top: 15px;
}

.max_guest p,
.number_rooms p,
.number_bathrooms p {
    padding-top: 35px;
}

.user {
    margin-right: auto;
    padding-top: 10px;
}

.description {
    text-align: justify;
    margin-top: -15px;
}
